PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:4200,http://localhost:5173,https://interview-89e09.web.app

# Firebase
FIREBASE_API_KEY=
FIREBASE_STORAGE_BUCKET=


# Gemini AI
GEMINI_API_KEY=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

GROQ_API_KEY=